// 引用公共样式和方法
@import "../../../base/styles/common";

#home{
//    这里写样式
    padding: px2rem(40px);
    .message {
        @include font-dpr(28px)
    }

    .msg-input {
        height: px2rem(60px);
        width: 100%;
        @include font-dpr(28px);
        margin-bottom: px2rem(40px);
    }

    .btn {
        height: px2rem(60px);
        width: 100%;
        background-color: cadetblue;
        border: 1px solid cadetblue;
        border-radius: 5px;
        margin-bottom: px2rem(40px);
    }
}


